<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>signup</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <div class="top-wrapper">
    <figure>
<!--      <img src="assets/images/logo.png" alt="logo" />-->
    </figure>
  </div>
  <div class="bottom-wrapper">
    <ion-text class="ion-text-center">
      <h4>Create your account</h4>
    </ion-text>
    <app-text-input label="First Name"></app-text-input>
    <app-text-input label="Last Name"></app-text-input>
    <app-text-input label="Username"></app-text-input>
    <app-text-input label="Email"></app-text-input>
    <app-text-input label="Password" type="password"></app-text-input>
    <app-text-input label="Confirm Password" type="password"></app-text-input>
    <app-text-input label="Date of Birth"></app-text-input>
    <app-primary-button (click)="initialSignUp()" expand="full" color="secondary" text="CREATE NEW ACCOUNT"></app-primary-button>
  </div>
</ion-content>
