ion-content {
  height: 100%;
}

.top-wrapper {
  height: 60%;
  background-color: var(--ion-color-primary);
  position: relative;
  flex-direction: column;

  .welcome {
    position: absolute;
    bottom: 12px;
    left: 5%;
    right: 5%;
  }
}

.bottom-wrapper {
  height: 40%;
  position: relative;
}

.direction {
  width: 60px;
  margin: 12px auto;
}

.switch-page-wrapper {
  position: absolute;
  bottom: 6px;
  right: 24px;
  left: 24px;
}
