<div class="wrapper">
  <ion-card class="wrapper-inner">
    <ion-card-header>
      <ion-label>{{ header }}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Filter..." (ionChange)="filterData($event)"></ion-input>
      </ion-item>
      <div class="options">
        <ion-list>
          <ng-container *ngIf="selectType === 'checkbox'; else radioInputs">
            <ion-item *ngFor="let item of filteredData">
              <ion-label>{{ item.name }}</ion-label>
              <ion-checkbox [(ngModel)]="item.selected" slot="start"></ion-checkbox>
            </ion-item>
          </ng-container>

          <ng-template #radioInputs>
            <ion-radio-group [(ngModel)]="selectedRadio">
              <ion-item *ngFor="let item of data">
                <ion-label>{{ item.name }}</ion-label>
                <ion-radio slot="start" value="{{ item.id }}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ng-template>
        </ion-list>
      </div>
      <ion-button (click)="dismissModal()" fill="solid" expand="full" color="secondary">DONE</ion-button>
    </ion-card-content>
  </ion-card>
</div>
