<div class="wrapper">
  <ion-card class="wrapper-inner">
    <ion-card-header>
      <ion-label>{{ header }}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input></ion-input>
      </ion-item>
      <div class="options">
        <ion-list>
          <ion-item *ngFor="let item of data">
            <ion-label>{{ item.name }}</ion-label>
            <ion-checkbox value="{{ item.id }}" slot="start"></ion-checkbox>
          </ion-item>

<!--          <ng-container #radioInputs>-->
<!--            <ion-radio-group>-->
<!--              <ion-item *ngFor="let item of data">-->
<!--                <ion-label>{{ item.name }}</ion-label>-->
<!--                <ion-radio slot="start" value="{{ item.id }}"></ion-radio>-->
<!--              </ion-item>-->
<!--            </ion-radio-group>-->
<!--          </ng-container>-->
        </ion-list>
      </div>
      <ion-button (click)="dismissModal()" fill="solid" expand="full" color="secondary">DONE</ion-button>
    </ion-card-content>
  </ion-card>
</div>
