.wrapper {
  min-height: 42px;
  border: 1px solid lightgrey;
  margin-bottom: 8px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ion-icon {
    width: 2%;
    font-size: 1.2em;
  }
  ion-label {
    width: 96%;
  }
}

.label {
  margin: 0;
}
