<ion-content fullscreen>
  <div class="menu-icon">
    <ion-icon name="menu-outline"></ion-icon>
  </div>
  <div class="top-wrapper">
    <section class="profile">
      <ion-icon name="person-circle-outline"></ion-icon><br/>
      <ion-label class="bold">SONE</ion-label>
    </section>
    <figure>
      <img src="assets/images/dashboard/board.png" />
    </figure>
  </div>
  <div class="bottom-wrapper">
    <div class="bottom-section">
      <figure>
        <img src="assets/images/dashboard/people.jpeg" />
      </figure>
      <p class="bold">NEW TUTORIAL</p>
    </div>
    <div class="bottom-section">
      <figure>
        <img src="assets/images/dashboard/money.jpeg" />
      </figure>
      <p class="bold">EARNINGS</p>
    </div>
    <div class="bottom-section">
      <figure>
        <img src="assets/images/dashboard/money.jpeg" />
      </figure>
      <p class="bold">SCHEDULE</p>
    </div>
    <div class="bottom-section">
      <figure>
        <img src="assets/images/dashboard/search.png" />
      </figure>
      <p class="bold">BOOKINGS</p>
    </div>
    <div class="bottom-section">
      <figure>
        <img src="assets/images/dashboard/star.png" />
      </figure>
    </div>
    <div class="bottom-section">
      <figure>
        <img src="assets/images/dashboard/book.png" />
      </figure>
      <p class="bold">RESOURCES</p>
    </div>
  </div>
</ion-content>
